.brand-section {
  padding: 88px 0px 100px 0px;
}

.brand-section h1 {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 700;
  line-height: 45px;
  text-align: center;
  margin-bottom: 70px;
}

.brand-cards-items__content {
  text-align: center;
  margin-top: 20px;
}

.brand-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-basis: 100%;
  gap: 40px;
}

.brand-cards-items__content {
  padding: 20px 67px 60px 67px;
  margin-top: -5px;
  background: #f5f5f5;
  gap: 0px;
  border-radius: 0px 0px 7px 7px;
  opacity: 0px;
}

.brand-cards-items__content p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #6f2cff;
  /* max-width: 185px; */
}
